
.body {
    header{
        display: flex;
        justify-content: center;
        grid-area: header;
        background-color: #8bdfdf;
        height: 120px;
    }
    .navbar{
        grid-area: navbar;
        background-color: #8bdfdf;
        padding: 25px;
        .navegacion{
            display: flex;
            justify-content: space-around;
            .botones{
                display: flex;
                padding-left: 300px;
                align-items: center;
                margin-left: 180px;
                .boton{
                    padding: 5px;
                    color: #b3ddf8;
                    background-color: #2b97fd;
                    border: 0;
                    border-radius: 10px;
                    font-size: 18px;
                    margin-top: 30px;
                    margin-left: 30px;
                    margin-right: 30px;
                    padding-left: 10px;
                    padding-right: 10px;
                    &:hover{
                        color: #000000;
                        transform: scale(0.9);
                    }
                }
            }
            .carrito{
                display: flex;
                width: 50px;
                height: 40px;
                border-radius: 10px;
                border: 2px solid #8bdfdf;
                padding: 0px 10px 0px 10px;
                align-items: center;
                margin-top: 20px;
                &:hover {
                    border: 2px solid #5f787c;
                    transform: scale(0.9);
                }
                .imgCarrito{
                    background-image: url(multimedia/imagenes/iconos/carrito.png);
                    background-size: cover;
                    background-position: center;
                    border: 0;
                    width: 30px;
                    height: 40px;
                }
                h2{
                    padding-left: 5px;
                }
            }
        }
    }
}