
*{
    margin: 0;
    padding: 0;
}


.footer{
    grid-area: footer;
    background-color: coral;
}

html{
    height: 100%;
    .body{
        background-color: #b4a98f;
        display: grid;
        grid-template: 
            "header " 100px
            "navbar " 100px
            "main " auto
            "footer " 150px/
              auto;
        main{
            grid-area: main;
            .divProductosClass{
                display: flex;
                justify-content: space-evenly;
                padding: 20px;
                flex-wrap: wrap;
                .producto{
                    width: 250px;
                    background-color: #b9ad93;
                    padding: 8px;
                    margin: 5px;
                    p{
                        text-align: center;
                        font-size: 20px;
                        padding: 5px;
                    }
                    .nombreProd{
                        font-size: 25px;
                        color: #ffffff;
                        font-family: monospace;
                    }
                    img{
                        width: 250px;
                        height: 250px;
                        border-radius: 15px;
                    }
                    .botonCompra{
                        width: 60%;
                        background-color: #ffd447;
                        color: #ffffff;
                        padding: 10px;
                        border-radius: 15px;
                        border: 0px;
                        margin-left: 20%;
                        margin-right: 20%;
                        &:hover{
                            background-color: #f8e7ae;
                            color: black;
                        }
                    }
                }
            }
            .divCarrito{
                background-color: #ffffff;
                padding: 30px;
                text-align: center;
                .infoCarrito{
                    padding: 15px;
                    margin-right: 20%;
                    text-align: end;
                }
                .divCarritoClass{
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    .prodCarrito{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 5px;
                        background-color: aquamarine;
                        border-radius: 15px;
                        margin: 10px;
                        margin-left: 20%;
                        margin-right: 20%;
                        p{
                            padding: 2px;
                        }
                        .imgProd{
                            width: 150px;
                            height: 150px;
                            border-radius: 10px;
                            padding: 10px;
                        }
                        .btnCompra{
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}