
*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    .body{       
        display: grid;
        grid-template: 
            "header " 100px
            "navbar " 100px
            "main " auto
            "footer " 150px/
              auto;
        height: 100vh;
        main{
            grid-area: main;
            background-color: #d8fdf1;
            .divProductosClass{
                display: flex;
                justify-content: flex-start;
                padding: 20px;
                padding-left: 200px;
                padding-right: 200px;
                flex-wrap: wrap;
                .producto{
                    width: 250px;
                    background-color: #67c2a767;
                    padding: 8px;
                    margin: 5px;
                    border-radius: 15px;
                    img{
                        width: 250px;
                        height: 250px;
                        border-radius: 15px;
                    }
                    .nombreProd{
                        font-size: 25px;
                        color: #2b97fd;
                        font-family: monospace;
                    }
                    p{
                        text-align: center;
                        font-size: 20px;
                        padding: 5px;
                        font-family: var(--font-patrickHand);
                    }
                    .botonCompra{
                        width: 60%;
                        background-color: #2b97fd;
                        color: #ffffff;
                        font-family: var(--font-monserrat);
                        padding: 10px;
                        border-radius: 15px;
                        border: 0px;
                        margin-left: 20%;
                        margin-right: 20%;
                        &:hover{
                            background-color: #ffffff;
                            color: #2b97fd;
                        }
                    }
                }
            }
            .divCarrito{
                padding: 30px;
                text-align: center;
                h2{
                    font-family: var(--font-monserrat);
                    font-size: 36px;
                    color: #2b97fd;
                }
                .infoCarrito{
                    padding: 15px;
                    margin-right: 20%;
                    text-align: end;
                    align-items: flex-end;
                    padding-bottom: 0px;
                    .totalCarrito{
                        display: flex;
                        justify-content: flex-end;
                        padding-bottom: 10px;
                        p{
                            font-family: var(--font-monserrat);
                            font-size: 16px;
                            margin: 10px;
                        }
                        button{
                            font-family: var(--font-patrickHand);
                            font-size: 16px;
                            border-radius: 10px;
                            border: 0px;
                            background-color: #2b97fd;
                            padding: 10px;
                            &:hover{
                                transform: scale(0.9);
                                color: #ffffff;
                            }
                        }
                    }
                    button{
                        font-family: var(--font-patrickHand);
                        font-size: 16px;
                        border-radius: 10px;
                        border: 0px;
                        background-color: #2b97fd;
                        padding: 10px;
                        &:hover{
                            transform: scale(0.9);
                            color: #ffffff;
                        }
                    }
                }
                .divCarritoClass{
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    .prodCarrito{
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        padding: 5px;
                        background-color: #b5ebda;
                        border-radius: 15px;
                        margin: 10px;
                        margin-left: 20%;
                        margin-right: 20%;
                        .imgProd{
                            width: 150px;
                            height: 150px;
                            border-radius: 20px;
                            padding: 10px;
                        }
                        .pInfo{
                            padding: 7%;
                            font-family: var(--font-patrickHand);
                            font-size: 36px;
                            color: #2b97fd;
                        }
                        p{
                            padding: 5px;
                            font-family: var(--font-patrickHand);
                            font-size: 20px;
                            color: #2b97fd;
                        }
                        .btnCompra{
                            display: flex;
                            flex-direction: column;
                            button{
                                margin: 5px;
                                border: 0px;
                                background-color: #b5ebda;
                                margin-bottom: 20px;
                                font-size: 20px;
                                color: #2b97fd;
                                
                                img{
                                    width: 35px;
                                    height: 50px;
                                    &:hover{
                                        transform: scale(1.2);
                                    }
                                }
                            }
                            .botonCompra{
                                &:hover{
                                    transform: scale(1.2);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}