
.body {
    header{
        background-color: rgb(0, 194, 184);
        height: 120px;
        nav{
            p{
                text-align: center;
                padding: 20px;
                font-size: 60px;
                color: rgb(148, 1, 1);
            }
        }
    }
    
}